<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geolocalised photos</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../src/client/vendors/leaflet/leaflet.css">
    <link rel="stylesheet" type="text/css" href="../src/client/vendors/LeafletPhoto/Leaflet.Photo.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/vuetify/dist/vuetify.min.css">
</head>
<body>
    <div id="app">
    </div>
</body>
</html>